BasedOnStyle: Google
ColumnLimit: 120 # Fits GitHub pull-request review width.
BinPackParameters: false  # Allow either all method's parameters on one line or one parameter per line, no packing.

Language: Cpp
Standard: Cpp11




AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true

# BreakBeforeBraces: Custom
BreakBeforeBraces: Allman

#BraceWrapping:
#    AfterNamespace: true
#    AfterControlStatement: true
#    AfterEnum: true
#    AfterFunction: true
#    AfterStruct: true
#    AfterUnion: true
#    BeforeCatch: true
#    BeforeElse: true
#    IndentBraces: false

ReflowComments: false
SpaceBeforeParens: ControlStatements
SpacesInAngles: false



AlwaysBreakBeforeMultilineStrings: false
BreakStringLiterals: false

ConstructorInitializerAllOnOneLineOrOnePerLine: true


# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Middle

NamespaceIndentation: All
IndentWidth: 2
UseTab: Never
